:root {
    --card-height: 60vw;
    --card-margin: 6vw;
    --card-top-offset: 1em;
    --outline-width: 0px;
}

#cards {
    /* Make place at bottom, as items will slide to that position*/
    padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
    margin-bottom: var(--card-margin);
}

#card_1 {
    --index: 1;
}

#card_2 {
    --index: 2;
}

#card_3 {
    --index: 3;
}

#card_4 {
    --index: 4;
}

#card_5 {
    --index: 5;
}

#card_6 {
    --index: 6;
}

.card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
}

.card__content {
    transform-origin: 50% 0%;
    will-change: transform;
}


/** PAGE STYLING **/

main * {
    /* Poor Man's Reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(241, 96, 166);
    color: rgb(255, 255, 255);
    font-size: calc(1em + 0.5vw);
}

header,
main {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

header {
    height: 100vh;
    display: grid;
    place-items: center;
}

#cards {
    list-style: none;
    outline: calc(var(--outline-width) * 10) solid hotpink;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
}

.card {
    outline: var(--outline-width) solid lime;
}

.card__content {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    color: rgb(10, 5, 7);
    border-radius: 1em;
    overflow: hidden;

    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    align-items: stretch;
    outline: var(--outline-width) solid blue;
}

.card__content>div {
    grid-area: text;
    width: 80%;
    place-self: center;
    text-align: left;

    display: grid;
    gap: 1em;
    place-items: start;
}

.card__content .animation_div {
    grid-area: img;
    height: 80vh;
    width: 100%;
    background-color: aliceblue;
}

#box {
    background-color: coral;
    border-radius: 10%;
    height: 5em;
    margin-left: 40%;
    aspect-ratio: 1 / 1;
    animation: 5s cubic-bezier(0.53, 0.02, 0.28, 0.88) 0s infinite alternate all_move
}

@keyframes all_move {
    from {
        transform: translateY(var(--card-height)) rotate(360deg) translateX(10vw);
    }
    to {
        transform: translateY(0);
    }
}
#ball {
    background-color: rgb(37, 224, 143);
    border-radius: 50%;
    height: 5em;
    margin-left: 40%;
    aspect-ratio: 1 / 1;
    animation: 3s ease-out 0s infinite alternate bounce;
}

@keyframes bounce {
    from {
        transform: translateY(70vh);
    }
    to {
        transform: translateY(0);
    }
}

#box2 {
    background-color: coral;
    border-radius: 10%;
    height: 5em;
    aspect-ratio: 1 / 1;
    animation: 4s linear 0s infinite alternate side_to_side;
}


@keyframes side_to_side {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(30vw) translateY(30vh);
    }
    100% {
        transform: translateX(0) translateY(60vh);
    }
}
.long_div {
    overflow-y: scroll;
    height: 28em;
    padding: 4em;
}
.spacer {
    height: 60em;
}
#chameleon {
    height: 10em;
    width: 5em;
    background-color:  rgb(47, 186, 255);
    border-radius: 10%;
    animation: linear alternate color_change_move;
    animation-timeline: scroll();
}

@keyframes color_change_move {
    from {
        background-color: rgb(47, 186, 255);
        transform: translateY(0);
    }
    to {
        background-color: rgb(178, 54, 32);
        transform: translateY(60em);
    }
}

#horizontalLine {
    width: 100%;
    height: 2em;
    margin-top: var(--card-height);
    background-color: rgb(65, 218, 23);
    animation: linear color_change_shrink;
    animation-timeline: view();
    animation-range: contain 10% contain 90%;
}

@keyframes color_change_shrink {
    0% {
        background-color: rgb(47, 186, 255);
        transform: scaleX(1);
    }
    50% {
        background-color: rgb(178, 54, 32);
        transform: scaleX(0.5);
    }
    100% {
        background-color: rgb(243, 18, 247);
        transform: scaleX(1);
    }
}

main h1 {
    font-weight: 300;
    font-size: 3.5em;
}

main h2 {
    font-weight: 300;
    font-size: 2.5em;
}

main p {
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.42;
}

main .btn {
    background: rgb(18, 168, 153);
    color: rgb(255 255 255);
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
}

aside {
    height: 90vh;
    margin: 0 auto;
    text-align: center;
    padding-top: 30vh;
}


/* 3d box */
.perspective {
    --size: 100px;
    position: relative;
    perspective: 800px;
    perspective-origin: 50% -200px;
    padding-top: 50%;
    padding-left: 40%;
  }
  
  #box3d {  
    width: var(--size);
    aspect-ratio: 1;  
  
    position: relative;
    transform-style: preserve-3d;
    
    transform-origin: 50px bottom -50px;
    animation: rotate 4s linear infinite;
  }
  
  .face {
    position: absolute;
    width: var(--size);
    aspect-ratio: 1;
    
    background-color: coral;
    transform-style: preserve-3d;
  }
  .face.front {
    background-color: rgb(47, 234, 14);
    opacity: 0.4;
  }
  
  .face.bottom {
    top: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
    background-color: coral;
  }
  
  .face.top {
    bottom: 100%;
    transform-origin: bottom;
    transform: rotateX(90deg);
    background-color: aqua;
    opacity: 0.7;
  }
  
  .face.back {
    bottom: 200%;
    transform-origin: center 150px -50px;
    transform: rotateX(180deg);
    background-color: aquamarine;
    opacity: 0.5;
  }
  
  .face.right {
    left: 100%;
    transform-origin: left;
    transform: rotateY(90deg);
    background-color: darkseagreen;
    opacity: 0.5;
  }
  
  .face.left {
    right: 100%;
    transform-origin: right;
    transform: rotateY(-90deg);
    background-color: rgb(27, 56, 205);
    opacity: 0.5;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotateY(360deg);
    }
  }